<a href="<%= subs_url %>">All Subs</a>

<h1><%= @sub.title %></h1>
<p>
  <%= @sub.description %>
</p>

<a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>

<br>
<br>
<br>
<h2>Add Post</h2>

<form action="<%= sub_posts_url(@sub) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  
  <label>Title
  <input type="text" name="post[title]" value="">
  </label>
  
  <label>URL
  <input type="text" name="post[url]" value="">
  </label>
  
  <label>Content
  <input type="text" name="post[content]" value="">
  </label>
  
  <input type="submit" name="" value="Add Post">  
</form>

<br>
<br>
<br>
<h2>All Posts</h2>

<% @sub.posts.each do |post| %>
  <h3><%= post.title %></h3>
  <p>Author: <%= post.author.username %></p>
  <p>URL: <%= post.url %></p>
  <p>Content: <%= post.content %></p>
  <br>
  <% end  %>
  
